header {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

header .title {
    font-size: 31px;
    font-weight: bold;
}

.App .searchbar {
    height: 64px;
    border-radius: 50px;
    filter: drop-shadow(-2px 8px 15px rgba(142, 159, 185, 0.1));
}

.App .searchbar .field {
    padding: 0 50px;
    height: 100%;
    position: relative;
}

.App .searchbar .field label {
    position: absolute;
    top: 25px;
    left: 85px;
}

.App .searchbar .field input {
    height: 100%;
    padding: 0 20px 0 70px;
    border-radius: 50px;
    font-size: 16px;
    width: 95%;
    border: none;
    outline: none;
}

.App .searchbar .field input:focus {
    outline: none;
    border: none;
}

header .user-notify {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .user-notify .user {
    padding: 0 10px;
}

header .user-notify .notify {
    padding: 0 10px;
}

.App .wrapper {
    width: 95%;
    background: #FFF;
    border-radius: 20px;
    margin: 20px 50px;
    box-shadow: 0 5px 23px rgba(22, 87, 255, 0.07)
}

.timeline {
    padding: 20px 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline .timeline-wrapper {
    top: 20px;
    width: calc(100% - 150px);
    overflow-x: scroll;
    height: 60px;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    scroll-behavior: smooth;/* Firefox */
}
.timeline .timeline-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
}
.timeline .timeline-wrapper::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
}
.timeline .timeline-wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.timeline .timeline-wrapper::-webkit-scrollbar {
    display: none;
}

.timeline .timeline-wrapper .line {
    margin: 30px auto;
    height: 1px;
    background: black;
    width: 2000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.timeline .timeline-wrapper .line .dateList {
    padding-top: 10px;
    position: relative;
}

.timeline .timeline-wrapper .line .dateList.checked:after {
   background: #8E9FB9;
    cursor: pointer;
}


.timeline .left-button {
    width: 31px;
    height: 31px;
    margin-right: 15px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease;
}

.timeline .left-button:hover {
    background: rgba(0,0,0,0.2);
}

.timeline .right-button {
    width: 31px;
    height: 31px;
    margin-left: 15px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease;
}

.timeline .right-button:hover  {
    background: rgba(0,0,0,0.2);
}

.timeline .timeline-wrapper .line .dateList:after {
    content: '';
    position: absolute;
    width: 47px;
    height: 47px;
    background: black;
    top: -23px;
    left: 0;
    border-radius: 100px;
    transition: all .3s ease-out;
    cursor: pointer;
    z-index: 0;
}

.timeline .timeline-wrapper .line .dateList span {
    position: absolute;
    z-index: 20;
    color: #F5F8FA;
    top: -10px;
    cursor: pointer;
    left: 6px;
}


.timeline .timeline-wrapper .line .dateList:hover:after {
    background: #8E9FB9;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.container .categories {
    margin: 0 40px 30px;
    min-width: 370px;
    background: #FAFCFF;
    box-shadow: -2px 8px 15px rgba(142, 159, 185, 0.1);
    border-radius: 20px;
}

.container .categories .categories__titel {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 20px 0;
}

.container .categories .categories__item {
    padding: 5px 31px;
    color: #8E9FB9;
    cursor: pointer;
}

.container .categories .categories__item:hover {
    color: #000;

}

.container .categories .categories__item.checked {
    color: #000;
}

.info-block {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-block .graphic {
    width: 40%;
    height: 451px;
    background: #FAFCFF;
    box-shadow: -2px 8px 15px rgba(142, 159, 185, 0.1);
    border-radius: 20px;
    margin: 40px;
}

.articles {
    width: 55%;
    height: 451px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.articles .articles__title {
    font-weight: 600;
    font-size: 18px;
    padding: 20px;
}

.articles .articles__list .articles__item {
    padding: 10px 20px;
    font-size: 16px;
}

.wordcloud {
    min-width: 50%;
    max-width: 72%;
    width: 72%;
    margin: 0 0 30px 0;
    background: #FAFCFF;
    box-shadow: -2px 8px 15px rgba(142, 159, 185, 0.1);
    border-radius: 20px;
}
